*{
    margin: 0;
    padding: 0;
    font-family: 'arial';
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}


 nav ul .logo{
    width: 180px;
    display: block;
    margin-left: 0px;
 }

nav ul{
    display: flex;
    padding: 15px 0px;
    align-items: center;
    justify-content: space-between;
 }

.main-menu{
    display: flex;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;

}

.nav-items li a{
    color: #000;
    font-weight: 500;
    transition: .3s;
}

.nav-items li a:hover{
    color: #C686D1;
}

.cart{
    width: 15px;
    height: 15px;
    background: lightgray;
    padding: 10px;
    border-radius: 50%;
}