*{
    margin: 0;
    padding: 0;
    font-family: 'arial';
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.btn{
    padding: 10px 20px;
    border-radius: 5px;
    transition: .3s;
    font-size: 18px;
}

.btn:hover{
    transform: scaleX(1.08);
}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}


 nav ul .logo{
    width: 160px;
    display: block;
    margin-left: 0px;
 }

nav ul{
    display: flex;
    padding: 15px 0px;
    align-items: center;
    justify-content: space-between;
 }

.main-menu{
    display: flex;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;

}

.nav-items li a{
    color: #000;
    font-weight: 500;
    transition: .2s;
}

.nav-items li a:hover{
    color: #C686D1;
}

.cart{
    width: 15px;
    height: 15px;
    background: lightgray;
    padding: 10px;
    border-radius: 50%;
}

header{
    background: url(../img/background.png) no-repeat right;

}

/* banner css */


.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.child-banner{
    width: 45%;
}

.child-banner h1{
    font-size: 40px;
    margin-bottom: 20px;
    color: #575A68;
}

.child-banner p{
    font-size: 20px;
    margin-bottom: 20px;
    color: #76767e;
}

.child-banner .btn1{
    color: #C686D1;
    background: #fff;
    border: 1px solid#C686D1;
    margin-right: 15px;
    transition: .3s;
}

.child-banner .btn2{
    color: #fff;
    background: #C686D1;
    border: 1px solid#C686D1;
}

